version: '3.7'
services:
  web:
    ports:
        - "8000:80"
  db:
    ports:
        - "5432:5432"
    volumes:
# LINUX        - /var/www/html/db/theater:/var/lib/mysql
# MACOS        - /Users/{YOUR_USER}/Database/{DB_APP_NAME}:/var/lib/postgresql/data
    environment:
        POSTGRES_DB: {DB_APP_NAME}
        POSTGRES_USER: user_user
        POSTGRES_PASSWORD: p@ssw0rd
